<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th, td {
            border: 1px black solid;
        }
    </style>
</head>
<body>
<h1>Current tasks</h1>
{% if form %}
    <table>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Interval ID</th>
        </tr>
        <tr>
            {% for task in form %}
                <td>{{ task.id }}</td>
                <td>{{ task.url }}</td>
                <td>{{ task.interval }}</td>
                </tr>
            {% endfor %}
    </table>
{% else %}
    <h1>No Data</h1>
{% endif %}
</body>
</html>